{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}

<article {{ attributes.addClass(classes) }}>
    {% if content.field_image.0 is not empty %}
    <div class="node--type-blog-post__image">
        {{ content.field_image }}
    </div>
    {% endif %}
    <div class="node--type-blog-post__content">
        {{ content.field_date }}
        <h2 class="node--type-blog-post__content-title">{{ label }}</h2>
        {{ content.body }}
        {{ content.links }}
    </div>
</article>
