{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
<div{{ attributes.addClass(classes, 'field__items') }}>
    {% for item in items %}
        {% set social_title = item.content['#title'] %}
        {% set social_link = item.content['#url'].getUri() %}
        {% if social_title == 'Twitter' %}
            {% set icon_class = 'fa-twitter' %}
        {% elseif social_title == 'LinkedIn' %}
            {% set icon_class = 'fa-linkedin' %}
        {% elseif social_title == 'Github' %}
            {% set icon_class = 'fa-github' %}
        {% endif %}
        <div{{ item.attributes.addClass('field__item')}}>
            <a href="{{social_link}}" aria-label="{{social_title}}">
                <i class="fa {{icon_class}}" aria-hidden="true"></i>
            </a>
        </div>
    {% endfor %}
</div>
